* { 
  background-color: #282c34;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  -ms-overflow-style: none;
}

.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}